/*
*
* Backpack Crud / Form
*
*/

.form-group.required label:not(:empty)::after {
    content: ' *';
    color: #ff0000;
}

.tab-container .nav-tabs-custom {
    padding-bottom: 0;
    margin-bottom: 0;
    background: none;
}

.tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.help-block {
    margin-top: .25rem;
    margin-bottom: .25rem;
    color: #73818f;
    font-size: 0.9em;
}

.nav-tabs .nav-link:hover {
    border-bottom: none;
}
